<% provide(:title, 'About') %>
<h1>What is Minux</h1>

Minux is a cloud-based productivity platform that allows you to set up common enterprise solutions by using hybrid cloud infrastructure.


<h2>Features</h2>

The current implementation supports:

2FA
000
000
000
000
000
000


