<div class="center jumbotron">
  <h1>Minux</h1>

  <h2>
   Doing more with less 
  </h2>
  <%= link_to image_tag("minux.io.svg", alt: "Minux is more!"),'http://minux.io' %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
